@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
  font-family: 'Open Sans', sans-serif;
}

a {
  color: blue;
  text-decoration: none;
}

a:hover {
  color: red;
}

nav a::after {
    content: "|"
}

header#mainheader {
  border: 1px solid black;
  padding: 1em;
}

section#reviews {
  width: 80%;
  margin: auto;
}

article.review  {
  border: 1px dashed grey;
  padding: 1em;
  margin: 1em;
  box-shadow: 10px 10px 5px #888888;

}

.review > header {
  color: red;
}

.review figure {
  width: 15%;
}

.review figure > img {
  width: 100%;
  max-height: 150px;
  max-width: 150px;
}

.review .description {
  text-align: justify;
}

footer {
 background-color: grey;
 color: white;
}

/* After learning floats */
nav {
  float: left;
  max-width: 20%;
}

nav a {
  display: block;
  overflow: scroll;
  margin: 1em;
  white-space : nowrap;
  max-width: 100%;
}

nav a::after {
  /* Actually just remove it */
  content: ""
}

footer {
  clear: both;
}

.review .category {
  float: right;
  font-style: italic;
  text-align: right;
  font-size: small;
  width: 20%;
  overflow: auto;
  padding: 4px;
}

.review .description {
  float: right;
  width: 70%;
  overflow: auto;
  height: 5em;
}

.review figure {
  float: left;
  display: block;
}

.review .amenities {
  clear: both;
  float: right;
  width: 20%;
  overflow: auto;
  font-size: small;
}

.review .user_likes {
  clear: both;
  float: left;
  width: 20%;
  overflow: auto;
  font-size: small;
}

article.review:after {
   content: ".";
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

/* Let's work with the position tag*/
header#mainheader {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 80px;
  max-height: 100px;
  clear:both;
  background-color: #2196F3;
  color: white;
  z-index: 100;
  overflow: auto;
}

nav, #reviews {
  position: relative;
  height: calc(100vh - 80px - 4em);
  overflow: scroll;
  top: calc(80px + 2em);
}

footer {
  position: fixed;
  bottom: 0px;
  height: 2em;
  width: 100%;
}
